:root
{
	--hover-shadow: rgba(0, 0, 0, 0.2);
	--button-bg: #ddd;
	--button-hover: #ccc;
	--z-device: 2;
	--z-overlay: 10;
}

body
{
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

#control-panel
{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 300px;
	padding: 20px;
	background-color: #f5f5f5;
	box-shadow: 2px 0 5px var(--hover-shadow);
}

#control-panel h2
{
	margin-top: 0;
}

#control-panel .info p
{
	margin: 10px 0;
	padding-left: 5px;
	font-weight: bold;
	font-size: 15px;
}

.info p:nth-child(1)::before
{
	content: "🌡️ ";
}

.info p:nth-child(2)::before
{
	content: "⚡ ";
}

.info p:nth-child(3)::before
{
	content: "💡 ";
}

#control-panel .controls
{
	display: flex;
	gap: 10px;
	flex-direction: column;
	margin-top: 20px;
}

#control-panel .controls button
{
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
	border: none;
	border-radius: 6px;
	background-color: var(--button-bg);
	transition: background-color 0.3s ease;
}

#control-panel .controls button:hover
{
	background-color: var(--button-hover);
}

#control-panel .controls button:active
{
	background-color: #bbb;
}

#house-block
{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	position: relative;
	padding: 20px;
}

#house-block h1
{
	text-align: center;
}

#house-map
{
	position: relative;
	width: 800px;
	height: 600px;
	margin-top: 50px;
	border: 2px solid #ccc;
	background-color: #e9f1f7;
}

.device
{
	position: absolute;
	transition: left 1s linear, top 1s linear;
	padding: 5px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	user-select: none;
	z-index: var(--z-device);
}

.device:hover
{
	border-radius: 50%;
	transform: scale(1.05);
	box-shadow: 0 0 8px var(--hover-shadow);
}

.furniture
{
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.9;
	pointer-events: none;
}

.effect-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.4s ease;
	opacity: 0.9;
	mix-blend-mode: lighten;
	z-index: var(--z-overlay);
}

.effect-overlay.show
{
	opacity: 1;
}


@media (max-width: 1000px)
{
	body
	{
		flex-direction: column;
	}

	#control-panel
	{
		width: 100%;
		box-shadow: none;
	}

	#house-map
	{
		width: 100%;
		max-width: 100%;
		height: 400px;
	}
}